@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    font-family: "Edu NSW ACT Cursive", cursive, "Google Sans Code", monospace, "Roboto Mono", monospace;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;

}
nav ul li{
    padding: 0 20px;
    cursor: pointer;
}
.brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
}

.brand img{
    width: 44px;
    padding: 0 8px ;
    
}

.container{
    min-height:72vh;
    background-color: black;
    color: white;
    font-family: "google sans code", monospace, "Roboto Mono", monospace;
    display: flex;
    margin: 23px auto;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    background-image: url(back_ground_spotify.avif);
}

.bottom{
    position: sticky;
    height:130px;
    background-color: black;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 15px;
    }
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemConatiner{
    margin-top: 70px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    
    margin : 10px 0;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}



.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin:0 20px;
    
}
.songItem i{
    cursor: pointer;
}

.songInfo{
    
    position: absolute;
    left: 10vw;
    font-family: "Edu NSW ACT Cursive", cursive,;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;

}

@media only screen and (max-width: 950px) {
    .brand {
        font-size: 1rem;
    }
    nav ul li{
        padding: 0 10px;
    }
    .container {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 10px;
        min-height: 80vh;
    }
    .songItem{
        padding: 0 10px;
    }
    .songItem img{
        width: 35px;
        margin: 0 10px;
    }
    .timestamp{
        margin: 0 10px;
    }
    .songInfo{
        left: 5vw;
    }
    #myProgressBar{
        width: 90vw;
    }
    .songlist{
        width: 100%;
    }
    .songBanner{
        display: none;
    }
}